* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flex {
  display: flex;
}
.space-btw {
  justify-content: space-between;
}

:root {
  --deep-dark: rgb(26, 26, 26);
  --light-dark: rgb(79, 82, 92);
  --light-blue: rgb(0, 132, 255);
  --dark-blue: rgb(2, 84, 161);
  --light: rgb(245, 245, 245);
}
.secondary-header {
  color: white;
  font-size: 40px;
}

.pc-builder {
  /* height: 700px; */
  width: 1000px;
  margin: 100px auto;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
}

.header {
  display: flex;
  background: rgb(10, 58, 149);
  background: linear-gradient(90deg, rgba(10, 58, 149, 1) 13%, rgba(0, 212, 255, 1) 99%);
  /* (var(--light-blue), red); */

  height: 120px;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

/* INPUTS */

.creating-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 80px;
  padding-bottom: 80px;
  align-items: center;
  padding: 40px 80px;
  justify-content: center;
  margin-bottom: 40px;

  position: relative;
}

.input-info {
  font-size: 20px;
}

.input-field,
.select-field {
  height: 35px;
  width: 100%;
}

/* LIST CONTAINING ALL COMPUTERS */
.listItems {
  display: flex;
  grid-column: 1/-1;
  flex-direction: column;
  font-size: 20px;
  /* gap: 20px; */
  list-style: none;
}

.table {
  column-gap: 1 / -1;
  font-size: 16px;
  border-collapse: separate;
  /* border-spacing: 55px 15px; */
  width: 100%;
}

.table td {
  text-overflow: ellipcsis;
}

.table th {
  width: 25%;
  text-align: left;
  height: 50px;
  background-color: rgb(173, 197, 239);
  justify-items: center;
  padding-left: 8px;
}
.table td {
  padding: 5px 45px 5px 8px;
}

.table tr:nth-of-type(even) {
  background-color: rgb(228, 238, 255);
}
.table th:nth-child(3) {
  width: fit-content;
}
.table td:nth-child(3) {
  width: fit-content;
}

.computer {
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  display: flex;
}

td.buttons {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  height: 40px;
  /* width: 90px; */
  padding: 4px 8px;
}

td:last-child {
  /* background-color: rgba(41, 94, 143, 0.382); */
}

/* basic width od the table-inside buttons */
button {
  width: 45px;
}

/* universal style for all buttons */
.button {
  border: none;
  box-shadow: 0px 0px 3px #0a3b9577;
  background-color: #0960d311;
  transition: all 0.3s;
}

.button:hover {
  background-color: #0961d331;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.801);
}

.button:active {
  background-color: #0961d356;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.801);
  transform: scale(101%);
}

.edit-button {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 80%;
  top: 0;
  display: none;
}

button i {
  font-size: 16px;
}

.add-item-btn {
  grid-column: 1/-1;
  width: 70%;
  height: 60px;
  justify-self: center;
}

.add-btn-text {
  font-size: 20px;
  font-weight: 600;
  color: #222;
}

.empty-list-info {
  display: none;
  font-size: 20px;
  padding: 13px 26px;
  text-align: center;
}

.empty-list-info.visible {
  display: block;
}

/* category settings */
.category-settings-div {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 110%;
  width: 100%;
  left: 100%;

  background: rgba(255, 255, 255, 0.829);
  backdrop-filter: blur(3px);
  transition: transform 1s;
}

.category-settings-div.active {
  transform: translateX(-100%);
}

.categories-list {
  flex-direction: column;
  padding: 15px;
  padding-top: 30px;
  gap: 15px;
}

.categories-list li:first-child {
  display: none;
}

.delete-category.button {
  height: 25px;
  width: 30px;
}
